// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$dark: #075eb1;


.batch-1{
 background-color: #9af49f;

}

.batch-2{

    background-color: #85f4e2;
}

.batch-3{
    background-color: #7faef4;
}

.batch-4{
    background-color: #8782f4;
}


.batch-5{
    background-color: #be88f4;
}


.batch-6{
    background-color: #be88f4;
}


.batch-7{
    background-color: #f48dee;
}


.batch-8{
    background-color: #f489a6;
}


.batch-9{
    background-color: #f4947c;
 }
.batch-10{
    background-color: #f4b669;
}
