/*// Reduce line height*/
body { line-height: 1.2 !important; background-color: #ffffff; }

/*/ Reduce table padding /*/
.table th, .table td { padding: 0.35rem !important; }

/*/ Reduce card padding /*/
.card-body {padding: 0.75rem !important;}

/*/ Reduce card-modal font size /*/
.card-body-modal .card-body{
    font-size: 0.8em;
}
.card-body-modal form .form-group{
    margin-bottom: 0.75rem;
}
.card-body-modal form label{
    margin-bottom: 0.2rem;
}

/*/ Reduce z-index details-modal /*/
.modal-down{
    z-index: 1045;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Card totals */
.pricing-card-title {
    color: #000 !important;
    font-weight: 600;
}

/* Buttons */
.btn-success {
    background-color: #5ce094;
    border-color: #5ce094;
}

.bg-danger {
    background-color: #949494 !important;
    border-color: #949494 !important;
}

.buttons-columnVisibility .active{
    background-color: green;
}

a.bg-danger:hover, a.bg-danger:focus, button.bg-danger:hover, button.bg-danger:focus {
    background-color: #949494 !important;
    border-color: #949494 !important;
}

/*/ Reduce table input font size /*/
table input {font-size: 80% !important;}

/*/ Reduce table heading font size /*/
.sorting , .sorting_asc {font-size: 80% !important; }

/* Table colours */
.bg-warning {
    background-color: #fff7ab !important;
}

/* Typography */
h1, .h1 {
    font-size: 1.4rem;
    color: #054f97;
}

.font-100 {
    font-size: 100%;
}

/* Pagination */
.page-item.active .page-link {
    background-color: #075eb1;
    border-color: #075eb1;
}

.page-link {
    color: #075eb1;
}

/* Badges */
.badge-warning {
    background-color: #ffc14a;
}

.badge-available {
    color: #fff;
    background-color: #3490dc;
}

.badge-split {
    color: #fff;
    background-color: #8408dc;
}
.badge-sold {
    color: #fff;
    background-color: #46b619;
}

.badge-available-to-swap {
    color: #fff;
    background-color: #d89e43;
}

.badge-swapped {
    color: #fff;
    background-color: #5a63da;
}

.email-app {
    display: flex;
    flex-direction: row;
    background: #fff;
    border: 1px solid #e1e6ef;
}

.email-app nav {
    flex: 0 0 200px;
    padding: 1rem;
    border-right: 1px solid #e1e6ef;
}

.email-app nav .btn-block {
    margin-bottom: 15px;
}

.email-app nav .nav {
    flex-direction: column;
}

.email-app nav .nav .nav-item {
    position: relative;
}

.email-app nav .nav .nav-item .nav-link,
.email-app nav .nav .nav-item .navbar .dropdown-toggle,
.navbar .email-app nav .nav .nav-item .dropdown-toggle {
    color: #151b1e;
    border-bottom: 1px solid #e1e6ef;
}

.email-app nav .nav .nav-item .nav-link i,
.email-app nav .nav .nav-item .navbar .dropdown-toggle i,
.navbar .email-app nav .nav .nav-item .dropdown-toggle i {
    width: 20px;
    margin: 0 10px 0 0;
    font-size: 14px;
    text-align: center;
}

.email-app nav .nav .nav-item .nav-link .badge,
.email-app nav .nav .nav-item .navbar .dropdown-toggle .badge,
.navbar .email-app nav .nav .nav-item .dropdown-toggle .badge {
    float: right;
    margin-top: 4px;
    margin-left: 10px;
}

.email-app main {
    min-width: 0;
    flex: 1;
    padding: 1rem;
}

.email-app .inbox .toolbar {
    padding-bottom: 1rem;
    border-bottom: 1px solid #e1e6ef;
}

.email-app .inbox .messages {
    padding: 0;
    list-style: none;
}

.email-app .inbox .message {
    position: relative;
    padding: 1rem 1rem 1rem 2rem;
    cursor: pointer;
    border-bottom: 1px solid #e1e6ef;
}

.email-app .inbox .message:hover {
    background: #f9f9fa;
}

.email-app .inbox .message .actions {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
}

.email-app .inbox .message .actions .action {
    width: 2rem;
    margin-bottom: 0.5rem;
    color: #c0cadd;
    text-align: center;
}

.email-app .inbox .message a {
    color: #000;
}

.email-app .inbox .message a:hover {
    text-decoration: none;
}

.email-app .inbox .message.unread .header,
.email-app .inbox .message.unread .title {
    font-weight: bold;
}

.email-app .inbox .message .header {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}

.email-app .inbox .message .header .date {
    margin-left: auto;
}

.email-app .inbox .message .title {
    margin-bottom: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.email-app .inbox .message .description {
    font-size: 12px;
}

.email-app .message .toolbar {
    padding-bottom: 1rem;
    border-bottom: 1px solid #e1e6ef;
}

.email-app .message .details .title {
    padding: 1rem 0;
    font-weight: bold;
}

.email-app .message .details .header {
    display: flex;
    padding: 1rem 0;
    margin: 1rem 0;
    border-top: 1px solid #e1e6ef;
    border-bottom: 1px solid #e1e6ef;
}

.email-app .message .details .header .avatar {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}

.email-app .message .details .header .from {
    font-size: 12px;
    color: #9faecb;
    align-self: center;
}

.email-app .message .details .header .from span {
    display: block;
    font-weight: bold;
}

.email-app .message .details .header .date {
    margin-left: auto;
}

.email-app .message .details .attachments {
    padding: 1rem 0;
    margin-bottom: 1rem;
    border-top: 3px solid #f9f9fa;
    border-bottom: 3px solid #f9f9fa;
}

.email-app .message .details .attachments .attachment {
    display: flex;
    margin: 0.5rem 0;
    font-size: 12px;
    align-self: center;
}

.email-app .message .details .attachments .attachment .badge {
    margin: 0 0.5rem;
    line-height: inherit;
}

.email-app .message .details .attachments .attachment .menu {
    margin-left: auto;
}

.email-app .message .details .attachments .attachment .menu a {
    padding: 0 0.5rem;
    font-size: 14px;
    color: #e1e6ef;
}

@media (max-width: 767px) {
    .email-app {
        flex-direction: column;
    }
    .email-app nav {
        flex: 0 0 100%;
    }
}

@media (max-width: 575px) {
    .email-app .message .header {
        flex-flow: row wrap;
    }
    .email-app .message .header .date {
        flex: 0 0 100%;
    }
}

/* Column Visibility */
.buttons-columnVisibility.active {
    background: #6cb2eb !important;
}

/* Datatables */
#dataTableFinance {
    display: none;
}

th.datepicker{
    position: relative;
}

th.datepicker .searchFilter{
    border: none;
    position: absolute;
    bottom: 6px;
    left: 6px;
    width: calc(100% - 12px);
    text-indent: -1000px;
    color: transparent;
    height: 16px;
    background-color: transparent;
}
th.datepicker button{
    margin-bottom: 5px;
    padding: 1px;
    width: 100%;
    line-height: normal;
    font-size: 11px;
}
th.datepicker button::after{
    content: 'Clear';
}

/* Table Head */
th {
    font-size: 10px
}

.table th select option {
    font-size: 15px;
}

/*.table thead tr:nth-child(2) th {
    padding: 0 !important;
}*/

/* Column Spacing */
.sm-width {min-width: 40px;}
.md-width {min-width: 80px;}
.lg-width {min-width: 160px;}

/* custom-checkbox */
.custom-checkbox {
    line-height: 1.6rem;
}
